.root { 
    background-image: url(https://psv4.userapi.com/c520036/u76983384/docs/d12/1a3651a8e1df/41589-2-graphic-elements-png-image-high-quality.png?extra=t_YROjFz7F1F5vELCnEdd5mBl3zhF59BfBUufV3B62HT4Te8FMe-Wv36S3TXVeqo5I4EGp3t_bCjhaYCSHL5Rotk5aZKQw2lJdwYq3cNE5XVuS0icbC5ySNwmOhPgBi0rHXQ9eZ7c9IxEEcRHAO8Xw);
    background-size: cover;
}

.appBar {
    height: 40px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 100px 2fr 1fr 100px | 150px 1fr 350px 150px */
    grid-template-areas: "a b";
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    height: calc(100vh - 40px);
}

.barLogo {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.form {
    grid-area: b;
    margin: 0 auto;
}

.demo {
    grid-area: a;
    align-self: center;
    margin: 0 auto;
}

.screenshot {
    display: block;
    width: 640px;
    height: 360px;
    border: solid 2px;
    border-color: black;
    margin: 0 auto;
}

.screenshotCaption {
    text-align: center;
    max-width: 640px;
    min-width: 360px;
}